@model POCData.BorrowerViewModel
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.EventArgument)
    if (Model.ISearchAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h1 class="panel-title">Search For Borrower</h1>
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchENtity.FirstName, "Name")
                    @Html.TextBoxFor(m => m.SearchENtity.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel panel-footer">
                <button id="btnSearch" class="button btn-sm btn-primary" data-pdsa-action="search">
                    @*<i class="glyphicon glyphicon-search"/>*@
                    Search
                </button>
                <button id="btnReset" class="button btn-sm btn-primary" data-pdsa-action="reset">
                    @*<i class="gliphicon glyphicon-share-alt"></i>*@
                    Reset
                </button>
                <button id="btnAdd" class="button btn-sm btn-success" data-pdsa-action="add">Add</button>

            </div>
        </div>

    }
    if (Model.IsDetailAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Borrower Informaton</h1>
            </div>
            <div class="panel-body">
                @*Create Message Area*@
                <div class="row">
                    <div class="col-sm-12">
                        @if (!Model.IsValid)
                        {
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dissmiss="alert">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                                    <span class="sr-only">
                                        Close
                                    </span>
                                </button>
                                @Html.ValidationSummary(false)
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.FirstName, "First Name")
                    @Html.TextBoxFor(m => m.Entity.FirstName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.MiddleName, "Last Name")
                    @Html.TextBoxFor(m => m.Entity.MiddleName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.LastName, "Last Name")
                    @Html.TextBoxFor(m => m.Entity.LastName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.StreetAddress, "Street Address")
                    @Html.TextBoxFor(m => m.Entity.StreetAddress, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.Email, "Email")
                    @Html.TextBoxFor(m => m.Entity.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.MailingAddress, "Address")
                    @Html.TextBoxFor(m => m.Entity.MailingAddress, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.Phone, "Phone")
                    @Html.TextBoxFor(m => m.Entity.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.Gender, "Gender")
                    @Html.RadioButtonFor(m => m.Entity.Gender, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12">
                            <button name="btnSave" class="button btn-sm btn-primary" data-pdsa-action="save">
                                Save
                            </button>
                            <button name="btnCancel" class="button btn-sm btn-primary" data-pdsa-action="cancel">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    if (Model.IsListAreaVisible)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th class="pdsa-action-button-column"></th>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th class="pdsa-action-button-column"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Banks)
                    {
                        <tr>
                            <td class="pdsa-action-button-column">
                                <a href="#" class="btn btn-default btn-sm"
                                   data-pdsa-action="edit" data-pdsa-val="@item.Id">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>@item.Id</td>
                            <td>@item.FirstName </td>
                            <td>@item.MiddleName </td>
                            <td>@item.LastName </td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td class="pdsa-action-button-column">
                                <a href="#" class="btn btn-default btn-sm" data-pdsa-action="delete"
                                   data-pdsa-val="@item.Id"
                                   onclick="return confirm('Delete This Borrower?')">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
}
@section scripts{
    <script>
        $(document).ready(function () {
            $("[data-pdsa-action]").on("click", function (e) {
                e.preventDefault();
                $("#EventCommand").val($(this).data("pdsa-action"));
                $("#EventArgument").val($(this).data("pdsa-val"));
                $("form").submit();
            })
        });
    </script>
}